:root {

    --NavBar-color: #333;
    --White-text-color: #ffff;
    --Blue-button: #0071e3;
    --Light-gray: rgb(241, 241, 241);
}

*{
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--NavBar-color);
    gap: 3rem;
}

.header a{
    color: var(--White-text-color);
    cursor: pointer;
    font-size: .8rem;
}

/* Second Bar */

.secondbar{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 3rem;
}

.col1 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1 h1{
    font-size: 1.2rem;
}

.col2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.col2 a{
    font-size: 0.8rem;
}

.col2 input{
    cursor: pointer;
    border-radius: 2rem;
    width: 6rem;
    height: 1.5rem;
    border: none;
    color: var(--White-text-color);
    background-color: var(--Blue-button);
    outline: none;
}

/* Alert */

.alert{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: var(--Light-gray);
}

.alert h3{
    font-size: .8rem;
    font-weight: lighter;
}

.alert a{
    color: var(--Blue-button);
    cursor: pointer;
}

/* Container */

.container{
    display: flex;
    flex-direction: column;
}

/* Row-1 */

.row-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
}

.row-1 input{
    cursor: pointer;
    border-radius: 2rem;
    width: 6rem;
    height: 1.5rem;
    border: none;
    color: var(--White-text-color);
    background-color: var(--Blue-button);
    outline: none;
}

.row-1 h1{
    font-size: 1.2rem;
}

.row-1 h2{
    font-size: 4rem;
}

.desctxt{
    width: 100%;
    display: flex;
    text-align: center;
    width: 35rem;
    height: 5.5rem;
    word-wrap: break-word;
    padding: 1rem;
}

.desctxt p{
    font-size: 1.1rem;
}

.row-1 span{
    font-size: 1.5rem;
    color: rgb(160, 156, 156);
}

/* Row-2 */

.row-2{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 4rem;


    margin-bottom: 10rem;
}

.Phone{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-2 img{
    width: 55rem;
}

.PhoneColorBtn{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.label label{
    font-size: .8rem;
}

.label input{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 1px 1px 1px;
    cursor: pointer;
}

#Green{
    background-color: #394c38;
}

#Silver{
    background-color: #f1f2ed;
}   

#Gold{
    background-color: #fae7cf;
}

#Grafiti{
    background-color: #54524f;
}

#Blue{
    background-color: #a7c1d9;
}

.selected{
    outline: 2px solid #43a1ff;
}

/* Responsividade */



/* Iphone SE */

@media (max-width: 375px) {
    .header a{
        display: none;
    }
    .col2 a{
        display: none;
    }
    .col2 input{
        width: 4rem;
        height: 1.5rem;
    }
    .secondbar{
        justify-content: space-between;
    }
    .col1{
        width: 40%;
    }
    .col2{
        width: 25%;
    }
    .alert{
        padding: 1.5rem;
    }
    .alert h3{
        font-size: 0.6rem;
        word-wrap: break-word;
        width: 80%;
        text-align: center;
    }
    .row-1 h2{
        font-size: 3rem;
    }
    .desctxt{
        width: 100%;
    }
    .desctxt p{
        font-size: .8rem;
        word-wrap: break-word;
    }
    .PhoneColorBtn{
        display: flex;
        gap: 1rem;
    }
    .Phone{
        display: block;
        overflow: hidden;
    }
}

/* Iphone XR */

@media (max-width: 414px) {
    .header a{
        display: none;
    }
    .col2 a{
        display: none;
    }
    .col2 input{
        width: 4rem;
        height: 1.5rem;
    }
    .secondbar{
        justify-content: space-between;
    }
    .col1{
        width: 40%;
    }
    .col2{
        width: 25%;
    }
    .alert{
        padding: 1.5rem;
    }
    .alert h3{
        font-size: 0.6rem;
        word-wrap: break-word;
        width: 80%;
        text-align: center;
    }
    .row-1 h2{
        font-size: 3rem;
    }
    .desctxt{
        width: 100%;
    }
    .desctxt p{
        font-size: .8rem;
        word-wrap: break-word;
    }
    .PhoneColorBtn{
        display: flex;
        gap: 1rem;
    }
    .Phone{
        display: block;
        overflow: hidden;
    }
}

/* Iphone 12 Pro */

@media (max-width: 390px) {
    .header a{
        display: none;
    }
    .col2 a{
        display: none;
    }
    .col2 input{
        width: 4rem;
        height: 1.5rem;
    }
    .secondbar{
        justify-content: space-between;
    }
    .col1{
        width: 40%;
    }
    .col2{
        width: 25%;
    }
    .alert{
        padding: 1.5rem;
    }
    .alert h3{
        font-size: 0.6rem;
        word-wrap: break-word;
        width: 80%;
        text-align: center;
    }
    .row-1 h2{
        font-size: 3rem;
    }
    .desctxt{
        width: 100%;
    }
    .desctxt p{
        font-size: .8rem;
        word-wrap: break-word;
    }
    .PhoneColorBtn{
        display: flex;
        gap: 1rem;
    }
    .Phone{
        display: block;
        overflow: hidden;
    }
}

/* Ipad Air */

@media (max-width: 428px) {
    .header a{
        display: none;
    }
    .col2 a{
        display: none;
    }
    .col2 input{
        width: 4rem;
        height: 1.5rem;
    }
    .secondbar{
        justify-content: space-between;
    }
    .col1{
        width: 40%;
    }
    .col2{
        width: 25%;
    }
    .alert{
        padding: 1.5rem;
    }
    .alert h3{
        font-size: 0.6rem;
        word-wrap: break-word;
        width: 80%;
        text-align: center;
    }
    .row-1 h2{
        font-size: 3rem;
    }
    .desctxt{
        width: 100%;
    }
    .desctxt p{
        font-size: .8rem;
        word-wrap: break-word;
    }
    .PhoneColorBtn{
        display: flex;
        gap: 1rem;
    }
    .Phone{
        display: block;
        overflow: hidden;
    }
}

/* Ipad Mini */

@media (max-width: 768px) {
    
}

/* Pro 7 */

@media (max-width: 912px) {
    
}

/* Duo */

@media (max-width: 540px) {
    
}

/* Galaxy Fold */

@media (max-width: 280px) {

    .header a{
        display: none;
    }
    .col2 a{
        display: none;
    }

    .col2 input{
        width: 4rem;
        height: 1.5rem;
    }
    .secondbar{
        justify-content: center;
        gap: 5.5rem;
    }
    .col1{
        width: 40%;
    }
    .col1 h1{
        font-size: .8rem;
    }
    .col2{
        width: 25%;
    }
    .alert{
        padding: 1.5rem;
    }
    .alert h3{
        font-size: 0.6rem;
        word-wrap: break-word;
        width: 80%;
        text-align: center;
    }
    .row-1 h2{
        font-size: 3rem;
    }
    .desctxt{
        width: 100%;
    }
    .desctxt p{
        font-size: .8rem;
        word-wrap: break-word;
    }
    .PhoneColorBtn{
        display: flex;
        gap: 1rem;
    }
    .Phone{
        display: block;
        overflow: hidden;
    }
}
